.main {
  background-image: url("../images/main/fitnes.jpg");
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.main_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_inner h1 {
  width: 800px;
  height: 68px;
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.main_inner p {
  width: 343px;
  height: 34px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.consulting {
  background: #0C1417;
}
.consulting_inner {
  background: #0C1417;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.consulting_inner_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 78px;
}
.consulting_inner_left_foto-1 {
  -webkit-filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
  margin-right: 30px;
  margin-top: 40px;
}
.consulting_inner_left_foto-2 {
  -webkit-filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
}
.consulting_inner_right h2 {
  margin-top: 72px;
  width: 339px;
  height: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
}
.consulting_inner_right p {
  width: 451px;
  height: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 50px 0 40px;
  color: #FFFFFF;
}
.consulting_inner_right a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.info {
  margin-bottom: 100px;
}
.info_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info_inner_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info_inner_items_left {
  width: 64px;
  height: 64px;
  margin-right: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info_inner_items p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.gallery_inner h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.gallery_inner_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 63px;
}
.gallery_inner_bottom_foto {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery_inner_bottom_foto img {
  width: 300px;
  height: 375px;
}
.gallery_inner_bottom_foto img:not(:last-of-type) {
  margin-right: 30px;
}
.gallery_inner_bottom_line {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 4px;
  background: #FFFFFF;
  position: relative;
  left: 0;
  top: 3px;
}
.gallery_inner_bottom_line_yellow {
  width: 200px;
  height: 4px;
  left: 52px;
  top: 0;
  bottom: 0;
  background: #F7931E;
  position: absolute;
}
.gallery_inner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 103px;
}
.gallery_inner_top_foto {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery_inner_top_foto img {
  width: 400px;
  height: 300px;
  -webkit-filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
}
.gallery_inner_top_foto img:not(:last-of-type) {
  margin-right: 39px;
}
.gallery_inner_top_linee {
  width: 1000px;
  height: 4px;
  background: #FFFFFF;
  position: relative;
  left: 0;
  top: 3px;
  margin-left: auto;
  margin-right: auto;
}
.gallery_inner_top_linee_yellow {
  width: 200px;
  height: 4px;
  left: 52px;
  top: 0;
  bottom: 0;
  background: #F7931E;
  position: absolute;
}

.abonoment {
  background: #FFFFFF;
}
.abonoment_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #0C1417;
  margin-bottom: 80px;
  padding-top: 100px;
}
.abonoment_inner_top_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abonoment_inner_top_first span {
  width: 156px;
  height: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0C1417;
  margin-right: 96px;
}
.abonoment_inner_top_first ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_top_first ul li:first-of-type {
  margin-right: 78px;
  width: 137px;
}
.abonoment_inner_top_first ul li:nth-of-type(2) {
  margin-right: 75px;
  width: 157px;
}
.abonoment_inner_top_first ul li:nth-of-type(3) {
  margin-right: 84px;
  width: 141px;
}
.abonoment_inner_top_line {
  width: 1095px;
  border: 1px solid rgba(12, 20, 23, 0.5);
  margin: 15px 0 35px;
}
.abonoment_inner_top_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abonoment_inner_top_second span {
  width: 212px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0C1417;
  margin-right: 72px;
}
.abonoment_inner_top_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_top_second ul li:first-of-type {
  margin-right: 110px;
  width: 73px;
  height: 24px;
}
.abonoment_inner_top_second ul li:nth-of-type(2) {
  margin-right: 48px;
  width: 157px;
  height: 72px;
}
.abonoment_inner_top_second ul li:nth-of-type(3) {
  margin-right: 35px;
  width: 195px;
  height: 72px;
}
.abonoment_inner_top_second ul li:nth-of-type(4) {
  width: 192px;
  height: 72px;
}
.abonoment_inner_top_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_top_third span {
  width: 212px;
  height: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0C1417;
  margin: 57px 72px 53px 0;
}
.abonoment_inner_top_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_top_third ul li:first-of-type {
  width: 73px;
  height: 24px;
  margin: 88px 91px 88px 0;
}
.abonoment_inner_top_third ul li:nth-of-type(2) {
  width: 195px;
  height: 24px;
  margin: 64px 29px 88px 0;
}
.abonoment_inner_top_third ul li:nth-of-type(3) {
  width: 195px;
  height: 72px;
  margin: 37px 35px 40px 0;
}
.abonoment_inner_top_third ul li:nth-of-type(4) {
  width: 192px;
  height: 72px;
  margin: 40px 0;
}
.abonoment_inner_top_fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}
.abonoment_inner_top_fourth span {
  width: 211.24px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0C1417;
  margin-right: 72.67px;
}
.abonoment_inner_top_fourth ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_top_fourth ul li:first-of-type {
  width: 73px;
  height: 24px;
  margin-right: 91px;
}
.abonoment_inner_top_fourth ul li:nth-of-type(2) {
  width: 195px;
  height: 24px;
  margin-right: 29px;
}
.abonoment_inner_top_fourth ul li:nth-of-type(3) {
  width: 195px;
  height: 72px;
  margin-right: 35px;
}
.abonoment_inner_top_fourth ul li:nth-of-type(4) {
  width: 192px;
  height: 72px;
}
.abonoment_inner h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #0C1417;
  margin-bottom: 80px;
}
.abonoment_inner_bottom_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abonoment_inner_bottom_first span {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0C1417;
  width: 108px;
  height: 24px;
}
.abonoment_inner_bottom_first ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_bottom_first ul li:first-of-type {
  margin-right: 105px;
  margin-left: 259px;
  width: 121px;
}
.abonoment_inner_bottom_first ul li:nth-of-type(2) {
  width: 108px;
}
.abonoment_inner_bottom_first ul li:nth-of-type(3) {
  margin-right: 105px;
  margin-left: 105px;
  width: 90px;
}
.abonoment_inner_bottom_line {
  width: 1095px;
  border: 1px solid rgba(12, 20, 23, 0.5);
  margin-top: 15px;
}
.abonoment_inner_bottom_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abonoment_inner_bottom_second span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0C1417;
  width: 232px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.abonoment_inner_bottom_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_bottom_second ul li:first-of-type {
  margin: 47px 95px 64px 105px;
  width: 181px;
  height: 48px;
}
.abonoment_inner_bottom_second ul li:nth-of-type(2) {
  margin-top: 59px;
  margin-bottom: 76px;
  width: 67px;
  height: 24px;
}
.abonoment_inner_bottom_second ul li:nth-of-type(3) {
  margin: 59px 150px 76px 145px;
  width: 51px;
  height: 24px;
}
.abonoment_inner_bottom_second ul li:nth-of-type(4) {
  width: 42px;
  height: 24px;
  margin-top: 59px;
  margin-bottom: 76px;
}
.abonoment_inner_bottom_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abonoment_inner_bottom_third span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0C1417;
  width: 224px;
}
.abonoment_inner_bottom_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_bottom_third ul li:first-of-type {
  margin-right: 158px;
  margin-left: 175px;
  width: 56px;
  height: 24px;
}
.abonoment_inner_bottom_third ul li:nth-of-type(2) {
  width: 67px;
  height: 24px;
}
.abonoment_inner_bottom_third ul li:nth-of-type(3) {
  margin-right: 138px;
  margin-left: 151px;
  width: 47px;
  height: 24px;
}
.abonoment_inner_bottom_third ul li:nth-of-type(4) {
  width: 70px;
  height: 24px;
}
.abonoment_inner h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #0C1417;
  margin-top: 90px;
  margin-bottom: 80px;
}
.abonoment_inner_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1094px;
  margin-bottom: 100px;
}
.abonoment_inner_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 308px;
  height: 372px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abonoment_inner_items_item p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0C1417;
}
.abonoment_inner_items_item p:first-of-type {
  height: 48px;
  margin-top: 32px;
}
.abonoment_inner_items_item p:nth-of-type(2) {
  width: 72px;
  height: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0;
}
.abonoment_inner_items_item span {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(12, 20, 23, 0.5);
  margin-top: 20px;
  margin-bottom: 30px;
}
.abonoment_inner_items_item span:first-of-type {
  height: 20px;
}
.abonoment_inner_items_item span:nth-of-type(2) {
  width: 118px;
  height: 20px;
}
.abonoment_inner_items_item img {
  width: 34px;
  height: 34px;
}
.abonoment_inner_items_item a {
  width: 59px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #F7931E;
}

.couch_inner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.couch_inner_top_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1187px;
}
.couch_inner_top_items_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.couch_inner_top_items h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 55px;
}
.couch_inner_top_items_item {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.couch_inner_top_items_item img {
  width: 307px;
  height: 430px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.couch_inner_top_items_item p {
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin: 20px 0 15px;
}
.couch_inner_top_items_item ul {
  list-style-type: none;
}
.couch_inner_top_items_item ul li {
  height: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.couch_inner_top_items_item ul li:nth-of-type(2) {
  margin: 10px 0;
}
.couch_inner_top_click button {
  background: #0C1417;
  border: none;
  margin-top: 37px;
  margin-bottom: 107px;
}
.couch_inner_top_click button:first-of-type {
  margin-right: 41px;
}

.question {
  background-image: url("../images/question/bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.question_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 111px;
}
.question_inner_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question_inner_title h2 {
  margin-bottom: 25px;
  margin-top: 117px;
  width: 275px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.question_inner_title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 351px;
  height: 48px;
}
.question_inner_title p:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.question_inner_title form input {
  width: 357px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  padding-top: 30px;
  padding-bottom: 15px;
}
.question_inner_title form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title form input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title form input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.question_inner_title a {
  width: 214px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-top: 50px;
}

.carta {
  background-image: url("../images/carta/bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.carta_inner {
  padding-top: 59px;
  padding-bottom: 59px;
}
.carta_inner_left {
  width: 396px;
  background: #0C1417;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.carta_inner_left h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  width: 158px;
  margin: 50px 0 50px 38px;
}
.carta_inner_left_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carta_inner_left_first p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 285px;
}
.carta_inner_left_first img {
  width: 24px;
  height: 24px;
  margin-left: 36px;
  margin-right: 16px;
}
.carta_inner_left_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 27px;
}
.carta_inner_left_second p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 266px;
}
.carta_inner_left_second img {
  width: 24px;
  height: 24px;
  margin-left: 36px;
  margin-right: 16px;
}
.carta_inner_left_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carta_inner_left_third p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 157px;
}
.carta_inner_left_third img {
  width: 24px;
  height: 24px;
  margin-left: 36px;
  margin-right: 16px;
}
.carta_inner_left_fourth p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 302px;
  margin: 40px 0 24px 36px;
}
.carta_inner_left_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carta_inner_left_img img {
  width: 22px;
  height: 22px;
}
.carta_inner_left_img img:first-of-type {
  margin: 0 15px 53px 35px;
}

.footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_inner_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_inner_first img {
  width: 230px;
  height: 106px;
}
.footer_inner_first_par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  margin-bottom: 16px;
  margin-top: 8px;
}
.footer_inner_first_par span {
  width: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 15px;
}
.footer_inner_first_par p {
  width: 168px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.footer_inner_first p {
  width: 195px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.footer_inner_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-left: 92px;
  margin-right: 50px;
}
.footer_inner_second a {
  text-decoration: none;
}
.footer_inner_second a ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.footer_inner_second a ul li:not(:last-of-type) {
  margin-bottom: 13px;
}
.footer_inner_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.footer_inner_third a {
  text-decoration: none;
}
.footer_inner_third a ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.footer_inner_third a ul li:first-of-type {
  margin-bottom: 13px;
}
.footer_inner_fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-right: 80px;
  margin-left: 77px;
}
.footer_inner_fourth a {
  text-decoration: none;
}
.footer_inner_fourth a ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.footer_inner_fourth a ul li:not(:last-of-type) {
  margin-bottom: 13px;
}
.footer_inner_fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.footer_inner_fifth a {
  text-decoration: none;
}
.footer_inner_fifth a ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 13px;
}
.footer_inner_fifth a_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_inner_fifth a_img_inst {
  margin-right: 15px;
}
.footer_inner_fifth a_img img {
  height: 30px;
  width: 30px;
}